
.secaoQuemSomos {
    padding: 30px 10px;
    text-align: center;
    background-color: #f9f9f9;
}

.secaoQuemSomos h2 {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin-bottom: 15px;
    color: #000;
}

.secaoQuemSomos p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
    color: #333;
}

.secaoQuemSomos h3 {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin-bottom: 15px;
    color: #000;
    padding-top: 60px;
}

.containerEquipe {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.membroEquipe {
    text-align: center;
}

.fotoMembro {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    object-fit: cover;
}

.membroEquipe strong {
    color: black;
    display: block;
    margin-top: 5px;
}

.membroEquipe div {
    color: gray;
}

@media (max-width: 768px) {
    .containerEquipe {
        flex-direction: column;
        align-items: center;
    }

    .membroEquipe {
        margin-bottom: 20px;
    }
}
